<div class="b-custom">
<div class="container">
    <div class="contenedor-form">
        <h1 class="text-login pb-2">Register</h1>
        <h6 class="text-complement">Please enter your Email and your Password</h6>
        <div class="form">
            <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" class="form-flex" action="">
                <input type="email" name="username" ngModel placeholder="E-mail" required >
                <input type="text"  name="nombre" ngModel  placeholder="Nombre" required>
                <input type="password"  name="password" ngModel  placeholder="Password" required>
                <input type="password"  name="password" ngModel  placeholder="Password" required>
                <button id="button-login" type="submit">Register</button>
                <a [routerLink]="['/login']">
                    <h5 id="not-member">You are a member? <span id="span-register">Login!</span></h5>
                </a>
            </form>
        </div>
    </div>
</div>
</div>