<div class="bg-custom">
    <div class="contenedor-vista-into">
        <a routerLink=""><button class="button-back">Sign Out</button></a>
    </div>
    <div class="contenedor-servicios">
        <h3 class="h3-text">Nuestros servicios</h3>
    </div>
    <div class="contenedor-box">
        <div class="box-style">
            <h6 class="h6-text">Crear Móvil</h6>
            <div class="text-box-width">
                <p class="p-text">En esta seccion tendras la posibilidad de crear un Móvil, el cual tendras que ingresar
                    sus
                    especificaciones y un numero identificatorio por el cual vamos a localizarlo. Luego de crear este
                    movil vas a poder empezar a generar los datos de los servicios que realizo en la semana y luego
                    poder obtener el ingreso final.</p>
            </div>
            <div class="div-btn">
                <a routerLink="movil">
                    <button class="btn-style">Registrar Móvil</button>
                </a>
            </div>
        </div>
        <div class="box-style">
            <h6 class="h6-text">Registrar Servicios</h6>
            <div class="text-box-width">
                <p class="p-text">En esta seccion vas a poder comenzar a ingresar los datos de los servicios que fue
                    realizando durante la semana, donde se debe especificar datos como: Fecha, Origen, Total. Esos datos
                    sirven para poder tener un seguimiento del movil y sus importes. Esto luego se podra ver en los
                    informes.</p>
            </div>
            <div class="div-btn">
                <a routerLink="servicios">
                    <button class="btn-style">Registrar Servicios</button>
                </a>
            </div>
        </div>
        <div class="box-style">
            <h6 class="h6-text">Ver Informe Móvil</h6>
            <div class="text-box-width">
                <p class="p-text">En esta seccion vas a poder visualizar el movil, con los datos ingresados en los
                    servicios. En el total de todos los servicios se va a poder observar descuentos que van a modificar
                    el resultado para obtener un total limpio.</p>
            </div>
            <div class="div-btn">
                <a routerLink="informe">
                    <button class="btn-style">Ver Informe Móvil</button>
                </a>
            </div>
        </div>
    </div>

</div>