<!-- Mostrar servicios -->
<div *ngIf="informeMovil.servicios && informeMovil.servicios.length > 0">
    <h2>Servicios:</h2>
    <ul>
      <li *ngFor="let servicio of informeMovil.servicios">
        {{ servicio.date }} - {{ servicio.origen }} - {{servicio.total}}
      </li>
    </ul>
  </div>
  
  <!-- Mostrar móviles -->
  <div *ngIf="informeMovil.moviles && informeMovil.moviles.length > 0">
    <h2>Móviles:</h2>
    <ul>
      <li *ngFor="let movil of informeMovil.moviles">
       Movil: {{ movil.numeroMovil }} - Marca: {{ movil.modelo }}
      </li>
    </ul>
  </div>
  